<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 상세 페이지</title>
</head>
<body>

	<div class="container">
		<h2>게시글 상세 화면</h2>
		<table class="board_detail">
			<colgroup>
				<col width="15%"/>
				<col width="35%"/>
				<col width="15%"/>
				<col width="35%"/>
			</colgroup>
			<caption>게시글 상세내용</caption>
			<tbody>
				<tr>
					<th scope="row">글번호</th>
					<td th:text="${detailList.boardId}"></td>
				</tr>
				<tr>
					<th scope="row">작성자</th>
					<td th:text="${detailList.writer}"></td>
					<th scope="row">작성일</th>
					<td th:text="${#temporals.format(detailList.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>
				<tr>
					<th scope="row">제목</th>
					<td colspan="3">
						<input type="text" id="title" name="title" th:value="${detailList.title}"/>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="view_text">
						<textarea title="내용" id="contents" name="contents" th:text="${detailList.contents}">
						</textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>