<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<script type="text/javascript" src="assets/js/option.js">
</script>
<p>메인 페이지입니다.</p>
	<!-- selectBox -->
	<select class = "cate1" onchange="searchUserType();">
		<option value="">--선택--</option>
		<option value="N">일반 사용자</option>
		<option value="Y">관리자</option>
	</select>
	
	<select class="cate2" name="cateID">
		<option value="option2">--select option2--</option>
	</select>
	<button onClick="doAction()">click me</button>
	<!-- selectBox -->
</body>
</html>