<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>게시판 메인 화면</title>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
 <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
 <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
 <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
 <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

	<!-- ============ Header ============ -->
	<header id="header" class="fixed-top">
		<div class="continaer d-flex align-items-center justify-content-between">
			<h1 class="logo"><a href="index2.html"></a></h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index2.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->

			<nav id="navbar" class="navbar">
				<ul>
					<li><a class="nav-link scrollto active" href="#hero">Home</a></li>
					<li><a class="nav-link scrollto active" href="#about">About</a></li>
					<li class="dropdown"><a href="#"><span>카테고리</span><i class="bi bi-chevron-down"></i></a>
						<ul>
							<li><a href="#">Drop Down 1</a></li>
							<li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down"></i></a>
								<ul>
									<li><a href="#">Deep Drop Down 1</a></li>
									<li><a href="#">Deep Drop Down 2</a></li>
									<li><a href="#">Deep Drop Down 3</a></li>
									<li><a href="#">Deep Drop Down 4</a></li>
									<li><a href="#">Deep Drop Down 5</a></li>
								</ul>
							</li>
							<li><a href="#">메뉴2</a></li>
							<li><a href="#">메뉴3</a></li>
							<li><a href="#">메뉴4</a></li>
						</ul>
					</li>
					<li><a class="nav-link scrollto" href="#contact">Contact</a></li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
		</div>
	</header>
	<!-- ========== End Header ========== -->

	<main id="main">

	<!-- ========= About Section ========= -->
	<section id="about" class="about">
		<div class="container">

			<div class="section-title">
				<h2>카테고리 표시</h2>
				<h3><span>크림솔루션</span> 게시판 </h3><br>
				<select>
					<option>카테고리1</option>
					<option>카테고리2</option>
				</select>
			</div>
			
			<div>
				<select>
					<option>제목</option>
					<option>본문</option>
					<option>작성자</option>
				</select>
				<label for="search-value" hidden>검색어</label>
				<input id="search-value" type="search" placeholder="검색어...." name="search-value">
				<button type="submit">검색</button>
			</div>	
			
		</div>
	</section>
	
	<!-- 게시판 list -->
	<div>
		<button onClick="location.href='post'">글쓰기</button>
		<table class="table table-striped" id="dataTable" width="50px" cellspacing="50" style="text-align:center;">
			<thead>
				<tr>
					<th>글번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="boardList : ${boardList}">
					<td th:text="${boardList.boardId}"></td>
					<td> 
						<a th:text="${boardList.title}" th:href="@{/detail/(boardId=${boardList.boardId})}"></a></td>
					<td th:text="${boardList.writer}"></td>
					<td th:text="${#temporals.format(boardList.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	</main>


</body>
</html>