<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 글작성 페이지</title>
</head>
<body>
	글 작성 페이지입니다.
	<table class="board_view">
		<colgroup>
		<col width="15%">
		<col width="*"/>
		</colgroup>
		<caption>게시글 작성</caption>
		<tbody>
			<tr>
				<th scope="row">제목</th>
				<td><input type="text" id="title" name="title" /></td>
			</tr>
			<tr>
				<td colspan="2">
					<textarea rows="20" cols="100" title="내용" id="contents" name="contents"/>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="#this" class="btn" id="write">작성하기</a>
	<a href="#this" class="btn" id="write">목록으로</a>
</body>
</html>