<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">

	<select id="getAlllist">
		SELECT
		board_id AS boardId,
		category_id AS categoryId,
		title,
		contents,
		writer,
		created_at AS createdAt,
		updated_at AS updatedAt
		FROM board
		ORDER BY boardId DESC
	</select>
	
	<select id="getBoardDetail">
		SELECT
		board_id AS boardId,
		category_id AS categoryId,
		title,
		contents,
		writer,
		created_at AS createdAt,
		updated_at AS updatedAt
		FROM board
		WHERE board_id = ${boardId}
	</select>

	<insert id="post">
		INSERT INTO board(board_id, category_id, title, contents, writer, created_at)
		VALUES (
			#{boardId},
			#{categoryId},
			#{title},
			#{contents},
			#{writer},
			#{createdAt}
		)
	</insert>

	<update id="modify">
		UPDATE board SET
			category_id = #{categoryId},
			title = #{title},
			contents = #{contents},
			writer = #{writer},
			updated_at = now()
		WHERE board_id = #{boardId}
	</update>

	<delete id="delete">
		DELETE FROM board
		WHERE board_id = #{boardId}
	</delete>

</mapper>