<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.OptionMapper">

	<select id="findOption2">
		SELECT 
			user_id AS userId
		FROM user
		WHERE admin_role = #{option1}
	</select>
	
	<select id="cateList">
		SELECT
			user_id AS userId,
			admin_role AS adminRole
		FROM user
	</select>
	
</mapper>